
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

h1 {
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 7px rgba(0,0,0,0.5);
  padding-top: 30px;
  font-size: 2rem;
}

h2 {
  text-align: center;
  color: #e0f0ff;                      
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 1.4rem;                                      
  letter-spacing: 1px;
  position: relative;
}


h2::after {
  content: "";
  display: block;
  width: 300px;   
  height: 3px;   
  background-color: #d8dde3;         
  margin: 8px auto 0 auto;           
  border-radius: 2px;
}

form {
  background: transparent;
  border: 2px solid rgba(255, 250, 250, 0.5);
  backdrop-filter: blur(25px);
  max-width: 600px;
  margin: 30px auto;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

fieldset {
  border: 2px solid #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: transparent;
}

legend {
  padding: 0 10px;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.1em;
}

ol {
  list-style: none;
  padding: 0;
}

li {
  margin-top: 10px;
}

label {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="submit"] {
  background-color: #512DA8;   
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(81, 45, 168, 0.5);
}

input[type="submit"]:hover {
  background-color: #3E1F8B;
}
